<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @posting.location %>
</p>

<p>
  <strong>Lattitude:</strong>
  <%= @posting.lattitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @posting.longitude %>
</p>

<p>
  <strong>Title:</strong>
  <%= @posting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @posting.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @posting.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @posting.time %>
</p>

<p>
  <strong>Length of job:</strong>
  <%= @posting.length_of_job %>
</p>

<p>
  <strong>Rate of pay:</strong>
  <%= @posting.rate_of_pay %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @posting.expires %>
</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
